* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

.main-container {
  height: 100vh;
  padding-top: 70px;
  padding-bottom: 180px;
  overflow-y: auto;
}

.animal-selection {
  padding: 20px;
}

.animal-selection ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
}

.animal-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s, box-shadow 0.2s;
}

.animal-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.animal-card .animal-image {
  width: 100%;
  height: 75%;
  object-fit: cover;
  background-color: #eee;
}

.animal-card h2 {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: #333;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animal-card.selected-animal {
  border-color: #4caf50;
  background-color: #f0fff0;
}
