* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, "Arial", sans-serif;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

.main-container {
  height: 100vh;
}

.animal-selection {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 5%;
  box-sizing: border-box;
  height: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.animal-selection::-webkit-scrollbar {
  width: 8px;
}

.animal-selection::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.animal-selection::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.animal-selection::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.animal-selection ul {
  display: grid;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(4, 1fr);
}

.animal-selection li {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .animal-selection ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .animal-selection ul {
    grid-template-columns: 1fr;
  }

  .animal-selection {
    max-height: 85vh;
  }
}
